<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color:rgb(71, 170, 201);">
  <a href="#" class="navbar-brand" style="padding-left: 100px;font-size: 2rem;"><strong>Ecommerse</strong></a>
  <button class="navbar-toggler" data-bs-target="#menu" data-bs-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
  </button>
         <div id="menu" class="collapse navbar-collapse">
     <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a routerLink="home" class="nav-link" routerLinkActive="active" style="font-size: 1.2rem;font-weight: 800;padding-top: 10PX;">Home</a>
        </li>
         <li class="nav-item">
             <a routerLink="signin" class="nav-link" routerLinkActive="active">
               <button class="btn btn-primary" style="background-color: rgb(205, 43, 226);">Signin</button></a>
         </li>
         
         <li class="nav-item">
             <a routerLink="signup" class="nav-link"routerLinkActive="active">
               <button class="btn btn-success" style="background-color: rgb(75, 180, 119);">SignUp</button></a>
         </li>
     
        
        
         
     </ul>
 </div>
     </nav>





     <router-outlet></router-outlet>
 
 
     